@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: rgba(16, 16, 16, 0.85);
  color: #35c4fc;
  font-family: 'Grill Sans', monospace;
  font-size: 18px;
}

h1,h2,h3{
  font-family:'Courier New', Courier, monospace;
  font-size:  38px;
}
a {
  font-family: 'Grill Sans', monospace;
  font-size: 15px;
  text-decoration: none;
}
a:hover{
  color: #39ce39;
}
.container{
  /* width: 90%; */
  /* margin: auto; */
  align-content: center;
  justify-content: center;
}
.card-bio{
background-color: #97939383;
padding: 18px;
box-shadow: 0 4px 8px 0 rgba(239, 237, 237, 0.2);
border: 2px solid white;
text-align: center;
border-radius: 8px;
}

.list-inline {
  display: inline-flex;
  padding: 0px, auto;
}

.img-circle{
  border-radius: 50%;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.card-top{
  text-align: center;
}

.card{
  width: 300px;
  height: 300px;
  padding: 18px;
  box-shadow: 0 4px 8px 0 rgba(239, 237, 237, 0.2);
  border: 2px solid white;
  background-color: #f7f6f6bd;
  border-radius: 8px;
  margin: 10px;
}

/*Card pick*/
.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 300px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #f7f6f6bd;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  margin: 10px;
}
.card-pick img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}

.card-pick-info h4 {
  /*customizable*/
  color: whitesmoke;
  margin: 0;
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-pick-info {
  /*customizable*/
  opacity: 0;
  padding: 24px 16px;
}
.card-pick-info:hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}
