@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #87ceeb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,h2,h3{
  font-family:'Courier New', Courier, monospace;
  font: size 38px;
}
h1{
  font-size: 26px;
  color: #004d61;
}
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  text-decoration: none;
}
a:hover{
  color: #39ce39;
}
.container{
  width: 500px;
  margin: auto;
  align-content: center;
}
.details {
  margin-top: 20px;
  text-align: left;
}

.details ul {
  list-style-type: none;
}

.details li {
  margin: 8px 0;
}

.list-inline {
  display: inline-block;
  padding: 0px, auto;
}

.profile-pic{
  border-radius: 50%;
  margin: 15px;
  width: 150px;
  height: 150px;
  /* object-fit: cover; */
  /* object-position: top; */
}

.card-top{
  background-color: #f0f8ff;
  padding: 20px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 2px, 3px, 18px, white;
  border: 2px soild #5f9ea0;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.title {
  color: #007f9e;
  font-style: italic;
}
